.slick-prev:before, .slick-next:before{
   color: gray;
   font-size: 3rem;
   opacity: 1;
}

.slick-prev{
   left: -2px;
   z-index:9
}
.slick-next{
   right: 25px;
  
}

.width-item{
   width: 100% !important;
}

.active_Film{
   @apply  bg-white text-gray-800
}
.non_active_Film{
   @apply  border-2 border-white text-white 
}

